@import "../../animmoves.scss";
.cor__1 {
    margin-top: 50px;
    h1 {
        font-size: 56px;
        font-family: p-semibold;
        color: #111029;
        span {
            color: #ff6800;
            width: 100%;
        }
    }
    p {
        margin: 30px 0;
        color: #6b6b6b;
        font-family: p-regular;
        width: 370px;
        font-size: 18px;
        line-height: 35px;
    }
    button {
        font-family: p-semibold;
        color: white;
        border: 0;
        border-radius: 10px;
        padding: 20px 30px;
        background-color: var(--color);
        box-shadow: 5px 10px 30px rgba(76, 64, 247, 0.5);
        img {
            margin-left: 20px;
        }
    }
}

@media (max-width: 600px) {
    .cor__1 {
        text-align: center;
    }
}
